@import '/assets/styles/mixins';

$primary-color: #f9f652;
$primary-color-dark: #eae571;
$primary-color-tint: lighten($primary-color, 10%);
$secondary-color: #68e8d7;
$secondary-color-dark: darken($secondary-color, 10%);
$secondary-color-tint: lighten($secondary-color, 10%);
$accent-color: #e53225;
$accent-color-tint: #eb6e65;

:root {
	--black: #000c82;
	--white: #fff;
	--grey: #363ec0;
	--primary-color: #{$primary-color};
	--primary-color-dark: #{$primary-color-dark};
	--primary-color-tint: #{$primary-color-tint};
	--secondary-color: #{$secondary-color};
	--secondary-color-dark: #{$secondary-color-dark};
	--secondary-color-tint: #{$secondary-color-tint};
	--accent-color: #{$accent-color};
	--accent-color-tint: #{$accent-color-tint};

	--gbc-color: var(--white);
	--background-color: #555;
}

* { box-sizing: border-box; }
.body {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: var(--background-color);
	font-size: 16px;
	line-height: 1;
}

.gbc {
	@include border-radius(1em 1em, 50% 1.5em);

	position: relative;
	height: 20em;
	width: 12em;
	margin-top: 8em;
	border: 1px solid var(--gbc-color);
	font-size: 1rem;

	&-screen {
		top: 1.25em;
		height: calc(100% - 3.5em);
		width: calc(100% - 3.5em);
		border-radius: 0.25em;

		&,
		&-wrap {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			border: inherit;
		}

		&-wrap {
			@include border-radius(0.5em 0.5em, 50% 1em);

			top: 0.5em;
			height: 11em;
			width: calc(100% - 1em);
		}
	}

	&-dpad {
		position: absolute;
		top: 0;
		left: 0;
		height: 3em;
		width: 3em;

		&::before,
		&::after {
			content: '';
			position: inherit;
			border-radius: 0.25em;
			border: 1px solid var(--white);
		}

		&::before {
			top: 0;
			left: 50%;
			height: 100%;
			width: 1em;
			transform: translateX(-50%);
		}

		&::after {
			top: 50%;
			left: 0;
			height: 1em;
			width: 100%;
			transform: translateY(-50%);
		}
	}

	&-button {
		position: absolute;
		height: 1.5em;
		width: 1.5em;
		border-radius: 100%;
		border: 1px solid var(--white);

		&-a {
			right: 0;
			top: 0.5em;
		}

		&-b {
			right: 2.25em;
			top: 1.5em;
		}
	}

	&-pill {
		position: absolute;
		top: 4.5em;
		height: 0.5em;
		width: 1.25em;
		border-radius: 0.25em;
		border: 1px solid var(--white);

		&-start {
			right: 3.25em;
		}

		&-select {
			left: 3.25em;
		}
	}

	&-controls {
		position: absolute;
		top: 13em;
		left: 50%;
		width: calc(100% - 2em);
		transform: translateX(-50%);
	}
}

.pika {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	top: 1em;

	&-eye {
		@include border-radius(50% 55%, 50% 45%);

		position: absolute;
		top: 2.25em;
		height: 1em;
		width: 1em;
		background-color: var(--black);
		overflow: hidden;

		&::before,
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			height: 0.5em;
			width: 100%;
			border-radius: 100%;
			background-color: var(--grey);
		}

		&::after {
			top: 0.125em;
			height: 0.375em;
			width: 0.375em;
			background-color: var(--white);
			border-radius: 100%;
		}

		&-left {
			left: 1em;

			&::before {
				left: -0.25em;
			}

			&::after {
				right: 0.125em;
			}
		}
		&-right {
			right: 1em;

			&::before {
				right: -0.25em;
			}

			&::after {
				left: 0.125em;
			}
		}
	}

	&-nose {
		@include border-radius(0.0625em 0.0625em, 50% 80%);
		position: absolute;
		top: 3em;
		left: 50%;
		height: 0.1875em;
		width: 0.325em;
		transform: translateX(-50%);
		background-color: var(--black);
	}

	&-mouth {
		position: absolute;
		top: 3.4375em;
		left: 50%;
		height: 0.325em;
		width: 1.5em;
		transform: translateX(-50%);

		&-3 {
			@include absolute-fill;

			--mouth-width: 2px;
			z-index: 2;
			overflow: hidden;

			&::before,
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				height: 0.5em;
				// width: calc(50% - (var(--mouth-width) * 2));
				width: calc(50% - var(--mouth-width));
				border-radius: 100%;
				border-bottom: var(--mouth-width) solid var(--black);
				background-color: var(--primary-color);
			}
	
			&::before {
				left: calc(var(--mouth-width) / 2);
				border-right: var(--mouth-width) solid var(--black);
			}
	
			&::after {
				right: calc(var(--mouth-width) / 2);
				border-left: var(--mouth-width) solid var(--black);
			}
		}

		&-inner {
			position: absolute;
			z-index: 1;
			top: 1px;
			left: 50%;
			height: 1em;
			width: 1em;
			border-bottom-left-radius: 50% 100%;
			border-bottom-right-radius: 50% 100%;
			background-color: var(--accent-color);
			transform: translateX(-50%);
			overflow: hidden;

			&::after {
				content: '';
				position: absolute;
				bottom: -60%;
				left: 50%;
				height: 100%;
				width: 120%;
				transform: translateX(-50%);
				border-radius: 100%;
				background-color: var(--accent-color-tint);
			}
		}
	}

	&-cheek {
		position: absolute;
		top: 3em;
		height: 1.25em;
		width: 1em;
		border-radius: 100%;
		background-color: var(--accent-color);

		&-left {
			left: 0.125em;
			transform: rotate(5deg);
		}

		&-right {
			right: 0.125em;
			transform: rotate(-5deg);
		}
	}

	&-ear {
		position: absolute;
		z-index: 1;
		bottom: calc(100% - 1em);
		height: 3.25em;
		width: 1.75em;
		transform-origin: center bottom;
		background-color: var(--primary-color);
		overflow: hidden;

		&::before,
		&::after {
			content: '';
			position: absolute;
		}

		&::before {
			height: 1.25em;
			width: 150%;
			background-color: var(--black);
			transform: rotate(var(--tip-rotate, 20deg));
		}

		&::after {
			top: calc(100% - 1.5em);
			height: 3em;
			width: 2em;
			transform-origin: center center;
			transform: rotate(var(--shadow-rotate, 20deg));
			border-radius: 100%;
			background-color: var(--primary-color-dark);
		}

		&-left {
			--tip-rotate: -20deg;
			--shadow-rotate: -20deg;
			left: 0.5em;
			transform: rotate(-70deg);
			border-top-left-radius: 80% 100%;
			border-top-right-radius: 20% 70%;
			border-bottom-right-radius: 30%;

			&::before {
				right: 0;
			}

			&::after {
				left: -1em;
			}
		}

		&-right {
			right: 0.5em;
			transform: rotate(70deg);
			border-top-right-radius: 80% 100%;
			border-top-left-radius: 20% 70%;
			border-bottom-left-radius: 30%;

			&::before {
				left: 0;
			}

			&::after {
				right: -1em;
			}
		}
	}

	&-face {
		@include absolute-fill;
		@include border-radius(45% 60%, 50% 35%);

		z-index: 2;
		background-color: var(--primary-color);
	}

	&-head {
		position: relative;
		z-index: 2;
		height: 5.25em;
		width: 6em;
	}

	&-arm {
		position: absolute;
		z-index: 2;
		top: 0;
		height: 3em;
		width: 2em;
		transform-origin: center 1em;
		background-color: var(--primary-color);

		&,
		&-shadow {
			@include border-radius(50% 30%, 40% 70%);
		}

		&-shadow {
			@include absolute-fill;

			overflow: hidden;

			&::after {
				content: '';
				position: absolute;
				border-radius: 100%;
				background-color: var(--primary-color-dark);
			}

			&::after {
				top: -0.25em;
				height: 2.5em;
				width: 1.75em;
			}
		}

		&-fingers {
			top: calc(100% - 0.375em);
			left: 50%;
			transform: translateX(-50%);

			&,
			&::before,
			&::after {
				@include border-radius(20% 30%, 50% 70%);

				content: '';
				position: absolute;
				width: 0.25em;
				height: 0.5em;
				background-color: var(--primary-color);
			}

			&::before {
				left: -0.25em;
				transform: rotate(-20deg);
			}

			&::after {
				left: 0.25em;
				transform: rotate(20deg);
			}
		}

		&-left {
			--shadow-sm-rotate: -20deg;
			left: -0.75em;
			transform: rotate(130deg);

			.pika-arm-shadow {
				&::after {
					left: -1em;
				}
			}
		}

		&-right {
			right: -0.75em;
			transform: rotate(-130deg);

			.pika-arm-shadow {
				&::after {
					right: -1em;
				}
			}
		}
	}

	&-torso {
		@include absolute-fill;
		@include border-radius(20% 70%, 50% 20%);

		z-index: 3;
		background-color: var(--primary-color);

		&::after {
			content: '';
			position: absolute;
			bottom: calc(100% - 1.5em);
			left: 50%;
			transform: translateX(-50%);
			height: 2em;
			width: 40%;
			border-radius: 100%;
			background-color: var(--primary-color-dark);
		}
	}

	&-tail {
		position: absolute;
		z-index: 1;
		background-color: var(--primary-color-dark);

		&-1 {
			bottom: 1em;
			left: calc(100% - 1.75em);
			height: 1.25em;
			width: 1em;
			transform-origin: center bottom;
			transform: rotate(70deg);
		}

		&-2 {
			right: 0;
			height: 1.75em;
			width: 1.25em;
			transform-origin: top right;
			transform: rotate(90deg);
		}

		&-3 {
			bottom: 0;
			right: 0;
			height: 3.5em;
			width: 2em;
			transform-origin: bottom right;
			transform: rotate(-90deg) skewY(20deg);
		}
	}

	&-body {
		position: relative;
		z-index: 1;
		margin-top: -1em;
		height: 4em;
		width: 5em;
	}

	&-wrap {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		position: absolute;
		bottom: 0;
		left: 50%;
		height: 200%;
		width: 200%;
		transform-origin: center bottom;
		transform: translateX(-50%);
		background: #666;
	}
}