// @use 'sass-math';

:root {
	--black: #2c2940;
	--white: #fff;
	--primary-color: #3c3757;
	--primary-color-dark: #00bd9e;
	--primary-color-tint: #99ffee;
	--secondary-color: #fff5f0;
	--accent-color: #ff4dde;
	--shirt-color: #fff;
	--shirt-color-dark: #f5f5f5;
	--bow-color-1: maroon;
	--bow-color-1: darkblue;

	--background: #eaeaea;

	--line-width-1: 0.125rem;
	--line-width-2: 0.375rem;
}

* { box-sizing: border-box; }
.body {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: var(--background);
	font-size: 16px;
	line-height: 1;
}

.komi {
	position: relative;

	*,
	*::before,
	*::after {
		position: absolute;
	}

	&-eye {
		--flip: 1;
		--eye-offset: 1.25rem;
		--pupil-offset: 0.5rem;
		--eye-line-top-offset: -13%;
		--eye-line-bottom-offset: 16%;
		z-index: 2;
		inset: 4.5rem var(--eye-right) auto var(--eye-left);
		height: 3.75rem;
		width: 4rem;
		border-radius: 100%;
		background-color: var(--white);

		&::before,
		&::after {
			content: '';
		}

		&::before {
			inset: -0.0625rem var(--eye-line-top-right) auto var(--eye-line-top-left);
			height: 120%;
			width: 120%;
			transform: rotate(calc(-12deg * var(--flip)));
			border-radius: 100%;
			border: var(--line-width-2) solid transparent;
			border-top: var(--line-width-2) solid var(--black);
		}

		&::after {
			inset: auto var(--eye-line-bottom-right) 0 var(--eye-line-bottom-left);
			height: 15%;
			width: 50%;
			transform: rotate(calc(8deg * var(--flip)));
			border-radius: 100%;
			border: var(--line-width-1) solid transparent;
			border-bottom: var(--line-width-1) solid var(--black);
		}

		&-pupil {
			inset: 0.75rem var(--pupil-right) auto var(--pupil-left);
			height: 2.5rem;
			width: 2.5rem;
			border-radius: 100%;
			background-color: var(--black);
		}

		&-left {
			--eye-left: var(--eye-offset);
			--pupil-right: var(--pupil-offset);
			--eye-line-top-left: var(--eye-line-top-offset);
			--eye-line-bottom-left: var(--eye-line-bottom-offset);
		}

		&-right {
			--flip: -1;
			--eye-right: var(--eye-offset);
			--pupil-left: var(--pupil-offset);
			--eye-line-top-right: var(--eye-line-top-offset);
			--eye-line-bottom-right: var(--eye-line-bottom-offset);
		}
	}

	&-blush {
		--blush-offset: 0.75rem;
		inset: 7.5rem var(--blush-right) auto var(--blush-left);
		height: 2rem;
		width: 2.5rem;
		border-radius: 100%;
		background-color: var(--accent-color);
		opacity: 0.4;

		&-left {
			--blush-left: var(--blush-offset);
		}

		&-right {
			--blush-right: var(--blush-offset);
		}
	}

	&-ear {
		--flip: 1;
		--ear-offset: -1.25rem;
		inset: 5.75rem var(--ear-right) auto var(--ear-left);
		height: 3rem;
		width: 2rem;
		transform: rotate(calc(40deg * var(--flip)));
		border-radius: 100%;
		background-color: var(--secondary-color);

		&-left {
			--flip: -1;
			--ear-left: var(--ear-offset);
		}

		&-right {
			--ear-right: var(--ear-offset);
		}
	}

	&-face {
		@include border-radius(50% 50%, 50% 40%);

		inset: 0;
		background-color: var(--secondary-color);
	}

	&-face-inner {
		inset: 0;
	}

	&-hair {
		&-back {
			top: -2.75rem;
			left: -2rem;
			width: 120%;

			&-1 {
				width: 100%;
				height: 9.5rem;
				transform: rotate(-10deg);
				border-radius: 100%;
				background-color: var(--primary-color);

				&::before {
					content: '';
					top: 5.5rem;
					right: -1rem;
					width: 50%;
					height: 60%;
					background-color: inherit;
					border-radius: 100%;
				}
			}
		}

		&-bangs {
			top: -0.5rem;
			left: 25%;
			width: 65%;

			&-1,
			&-2 {
				transform-origin: center top;
				background-color: var(--primary-color);
			}

			&-1 {
				top: 0;
				left: 0;
				width: 55%;
				height: 6rem;
				transform: rotate(-8deg);
				border-bottom-left-radius: 100% 50%;

				&::before {
					content: '';
					left: -1.5rem;
					height: 80%;
					width: 3rem;
					border-bottom-left-radius: 100%;
					transform: rotate(50deg);
					border-left: 1.5rem solid var(--primary-color);
				}
			}

			&-2 {
				top: 0;
				left: 50%;
				width: 45%;
				height: 6.5rem;
				transform: rotate(-12deg);
				border-bottom-left-radius: 100% 70%;
			}

			&-3 {
				top: 1.5rem;
				left: -1.75rem;
				height: 6rem;
				width: 4.5rem;
				border-bottom-left-radius: 100%;
				transform-origin: center top;
				transform: rotate(45deg);
				border-left: 1.75rem solid var(--primary-color);
			}
		}
	}
	
	&-head {
		position: relative;
		z-index: 3;
		height: 12rem;
		width: 13rem;
		margin-bottom: 5rem;
	}

	&-hair-extension {
		top: 3rem;
		left: 50%;
		width: 14rem;
		height: 14rem;
		transform: translateX(-50%);
		background-color: var(--primary-color);
	}

	&-neck {
		z-index: 2;
		bottom: calc(100% - 0.25rem);
		left: 50%;
		height: 5rem;
		width: 2rem;
		transform: translateX(-50%);
		background-color: var(--secondary-color);

		&::after {
			content: '';
			z-index: -1;
			top: calc(100% - 0.125rem);
			left: 50%;
			border: 1.125rem solid transparent;
			border-top-color: var(--secondary-color);
			transform: translateX(-50%);
		}
	}

	&-collar {
		--flip: 1;
		--collar-offset: -4.4375rem;
		bottom: -0.5rem;
		left: 50%;
		height: 3rem;
		width: 100%;
		transform: translateX(-50%) skewY(calc(-15deg * var(--flip))) scaleY(0.6);

		&::before {
			content: '';
			inset: 0.5rem var(--collar-right) auto var(--collar-left);
			height: 0;
			width: 0;
			border: 2.5rem solid transparent;
			border-top-color: var(--shirt-color);
			transform: rotate(calc(78deg * var(--flip)));
		}

		&-left {
			--collar-left: var(--collar-offset);
		}

		&-right {
			--flip: -1;
			--collar-right: var(--collar-offset);
		}
	}

	&-bow {
		bottom: -2.25rem;
		left: 50%;
		height: 1.5rem;
		width: 1.75rem;
		transform: translateX(-50%);

		&::after {
			content: '';
			z-index: 3;
			inset: 0;
			border-radius: 0.75rem;
			background-color: var(--bow-color-1);
		}

		&-top {
			--flip: 1;
			--bow-top-offset: 1.125rem;
			z-index: 2;
			inset: 0;
			// perspective: 1000px;

			&::before,
			&::after {
				content: '';
				inset: 0.125rem var(--bow-top-right) auto var(--bow-top-left);
				height: 1.75rem;
				width: 1.75rem;
				transform: rotate(calc(-10deg * var(--flip))) perspective(1rem) rotateY(calc(22deg * var(--flip)));
				background-color: var(--bow-color-1);
				border-radius: 0.25rem;
			}

			&::before {
				--bow-top-right: var(--bow-top-offset);
			}

			&::after {
				--bow-top-left: var(--bow-top-offset);
				--flip: -1;
			}
		}

		&-bottom {
			--flip: 1;
			--bow-bottom-offset: -1.25rem;
			z-index: 1;
			inset: 0;

			&::before,
			&::after {
				content: '';
				top: 0.5rem;
				inset: 0.5rem var(--bow-bottom-right) auto var(--bow-bottom-left);
				height: 3rem;
				width: 2rem;
				transform: rotate(calc(15deg * var(--flip)));
				border-radius: 0.125rem;
				background-color: aqua;
			}

			&::before {
				--bow-bottom-left: var(--bow-bottom-offset);
			}

			&::after {
				--bow-bottom-right: var(--bow-bottom-offset);
				--flip: -1;
			}
		}
	}

	&-shirt {
		--flip: 1;
		z-index: 1;
		top: -0.5rem;
		left: 50%;
		width: 9rem;
		height: 8rem;
		transform: translateX(-50%);

		&::before,
		&::after {
			content: '';
			inset: 0 var(--shirt-right) auto var(--shirt-left);
			height: 100%;
			width: 70%;
			border-radius: 0.5rem;
			background-color: var(--shirt-color-dark);
			transform: rotate(calc(8deg * var(--flip)));
		}

		&::before {
			--shirt-left: 0;
			--flip: -1;
		}

		&::after {
			--shirt-right: 0;
		}
	}

	&-body {
		z-index: 1;
		top: 12rem;
		left: 50%;
		height: 6rem;
		width: 12rem;
		transform: translateX(-50%);
	}

	&-panel {
		top: 2rem;
		left: 50%;
		width: m#{a}x(50vw, 25rem);
		height: 15rem;
		transform: translateX(-50%);
		background-color: var(--white);
		overflow: hidden;
	}
}