@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@700&display=swap');

:root {
	--black: #634f38;
	--white: #fff;
	--primary-color: #f5bc60;
	--primary-color-dark: hsl(37, 88%, 50%);
	--primary-color-tint: hsl(37, 88%, 80%);
	--secondary-color: #d4a672;
	--accent-color: #3774b6;

	--blush-color: #ff99b8;
	--mouth-color: #c42127;
	--tongue-color: #e0464b;
	--shadow-color: rgba(73, 104, 136, 0.3);
	--background: linear-gradient(hsl(8, 100%, 90%) 0%, hsl(342, 100%, 90%) 100%);
	--stroke-width: 0.1875rem;
}

* { box-sizing: border-box; }
.body {
	display: grid;
	place-items: center;
	height: 100vh;
	background: var(--background);
	font-family: 'Shippori Mincho B1', serif;
	font-size: 16px;
	line-height: 1;
}

.retsuko {
	position: relative;
	cursor: pointer;

	*,
	*::before,
	*::after {
		position: absolute;
	}

	&-rage {
		top: 3rem;
		left: 50%;
		transform: translateX(-50%);
		font-size: 1.25rem;
		font-weight: 700;
		color: var(--black);
		opacity: var(--rage-opacity, 0);
		transition: 0.2s;
	}

	&-eye {
		@include border-radius(50% 60%, 50% 40%);

		--eye-position-x: 2.75rem;
		--eye-lash-position-x: -0.25rem;
		z-index: 5;
		top: 5.5rem;
		height: 1.875rem;
		width: 1.625rem;
		background-color: var(--black);
		transform: rotate(var(--eye-rotate));

		&::before {
			content: '';
			top: -0.5rem;
			height: 1rem;
			width: 1.5rem;
			border-radius: 100%;
			border-bottom: 0.5rem solid var(--black);
		}

		&-left {
			--eye-rotate: 15deg;
			left: var(--eye-position-x);

			&::before {
				left: var(--eye-lash-position-x);
			}
		}

		&-right {
			--eye-rotate: -15deg;
			right: var(--eye-position-x);

			&::before {
				right: var(--eye-lash-position-x);
			}
		}
	}

	&-eyebrow {
		--eyebrow-position-x: 3.25rem;
		top: 4rem;
		height: 1rem;
		width: 1.125rem;
		border-radius: 100%;
		background-color: var(--white);

		&-left {
			left: var(--eyebrow-position-x);
		}

		&-right {
			right: var(--eyebrow-position-x);
		}
	}

	&-blush {
		top: 6.75rem;
		height: 1.25rem;
		width: 1.625rem;
		border-radius: 100%;
		background-color: var(--blush-color);
		opacity: var(--blush-opacity, 0.5);
		transition: var(--blush-transition, opacity 0s);

		&-left {
			left: 1.625rem;
		}

		&-right {
			right: 1.625rem;
		}
	}

	&-mouth {
		z-index: 4;
		bottom: 1rem;
		left: 50%;
		height: 0.3125rem;
		width: 1.5rem;
		transform: translateX(-50%);
		overflow: hidden;

		&::before {
			content: '';
			bottom: 0;
			left: 0;
			height: 200%;
			width: calc(100% - (var(--stroke-width) * 2));
			transform-origin: center bottom;
			transform: var(--mouth-transform, none);
			border-radius: 100%;
			border: var(--stroke-width) solid var(--black);
			background-color: var(--mouth-background-color, transparent);
			transition: var(--mouth-transition, transform 0s ease-in-out);
		}
	}

	&-mouth-rage {
		z-index: 4;
		bottom: 0.25rem;
		left: 50%;
		height: 2.75rem;
		width: 2.625rem;
		transform: translateX(-50%) scale(var(--mouth-rage-scale, 0));
		transition: var(--mouth-rage-transition, transform 0s);

		&-teeth {
			display: flex;
			justify-content: space-between;
			width: 100%;

			&-tooth {
				position: relative;
				border-style: solid;
			}

			&-top {
				top: 0;

				.retsuko-mouth-rage-teeth-tooth {
					border-width: 0.5rem 0.25rem 0 0.25rem;
					border-color: var(--white) transparent transparent transparent;

					&-2,
					&-3 {
						border-width: 0.5rem 0.1875rem 0 0.1875rem;
					}
				}
			}

			&-bottom {
				bottom: 0;

				.retsuko-mouth-rage-teeth-tooth {
					border-width: 0 0.25rem 0.375rem 0.25rem;
					border-color: transparent transparent var(--white) transparent;
				}
			}
		}

		&-inner {
			@include absolute-fill();

			border: 0.3125rem solid var(--black);
			border-top-width: 0.5rem;
			background-color: var(--mouth-color);
			transform: perspective(1rem) rotateX(5deg);
		}

		&-makeup {
			--makeup-tip-border-radius: 0.0625rem;
			z-index: -1;
			left: 50%;
			transform: translateX(-50%);

			&::before,
			&::after {
				content: '';
				height: 1rem;
				width: 1rem;
				background-color: var(--black);
			}

			&-top {
				top: -0.5rem;
				width: 90%;
				height: 0.75rem;

				&::before,
				&::after {
					top: 0.5rem;
				}

				&::before {
					left: -0.125rem;
					transform: rotate(-5deg);
					border-top-left-radius: var(--makeup-tip-border-radius);
					border-top-right-radius: 100%;
					border-bottom-left-radius: 100%;
				}

				&::after {
					right: -0.125rem;
					transform: rotate(5deg);
					border-top-right-radius: var(--makeup-tip-border-radius);
					border-top-left-radius: 100%;
					border-bottom-right-radius: 100%;
				}
			}

			&-bottom {
				bottom: -0.875rem;
				width: 110%;
				height: 0.75rem;

				&::before,
				&::after {
					bottom: 0.5rem;
				}

				&::before {
					left: -0.125rem;
					transform: rotate(15deg);
					border-bottom-left-radius: var(--makeup-tip-border-radius);
					border-bottom-right-radius: 100%;
					border-top-left-radius: 100%;
				}

				&::after {
					right: -0.125rem;
					transform: rotate(-15deg);
					border-bottom-right-radius: var(--makeup-tip-border-radius);
					border-bottom-left-radius: 100%;
					border-top-right-radius: 100%;
				}
			}
		}

		&-tongue {
			@include border-radius(50% 20%, 50% 80%);

			right: 0;
			top: calc(100% - 1.125rem);
			height: 1.875rem;
			width: 1.5rem;
			transform-origin: center 20%;
			transform: rotate(-20deg) scaleY(var(--tongue-scale, 0));
			background-color: var(--tongue-color);
			transition: var(--tongue-transition, transform 0s);

			&::before {
				content: '';
				top: 0;
				left: 50%;
				height: 60%;
				width: var(--stroke-width);
				transform: translateX(-50%);
				border-bottom-right-radius: var(--stroke-width);
				border-bottom-left-radius: var(--stroke-width);
				background-color: var(--mouth-color);
			}
		}
	}

	&-nose {
		z-index: 4;
		top: 1.25rem;
		left: 50%;
		height: 0.9375rem;
		width: 0.9375rem;
		transform: translate(-50%, var(--nose-translate-y, 0)) scaleY(0.65);
		transition: var(--nose-transition, transform 0s);

		&::before {
			@include absolute-fill(true);

			border-top-left-radius: 100%;
			border-top-right-radius: 0.5rem;
			border-bottom-left-radius: 0.5rem;
			border-bottom-right-radius: 0.25rem;
			transform: rotate(45deg);
			background-color: var(--black);
		}
	}

	&-face-fur {
		--face-fur-position-x: -1.375rem;
		--face-fur-border-radius: 60% 70%;
		z-index: 2;
		bottom: 0.1875rem;
		height: 2.5rem;
		width: 3rem;
		transform-origin: center bottom;
		transform: rotate(var(--face-fur-rotate));
		background-color: var(--secondary-color);

		&-left {
			--face-fur-rotate: 5deg;
			left: var(--face-fur-position-x);
			border-bottom-left-radius: var(--face-fur-border-radius);
		}

		&-right {
			--face-fur-rotate: -5deg;
			right: var(--face-fur-position-x);
			border-bottom-right-radius: var(--face-fur-border-radius);
		}

		&-white {
			--face-fur-white-position-x: -2.5rem;
			--face-fur-white-border-top-radius: 30% 70%;
			--face-fur-white-border-bottom-radius: 70% 70%;
			bottom: 0.75rem;
			height: 2.875rem;
			width: 2.125rem;
			transform-origin: center bottom;
			transform: rotate(var(--face-fur-white-rotate));
			background-color: var(--white);

			&-detail {
				height: 1.25rem;
				width: 1.25rem;
				border-radius: var(--face-fur-detail-border-radius);
				background-color: var(--white);

				&-1 {
					top: 0;
					left: var(--face-fur-detail-1-left, auto);
					right: var(--face-fur-detail-1-right, auto);
					transform: rotate(var(--face-fur-detail-1-rotate));
				}

				&-2 {
					top: 1rem;
					left: var(--face-fur-detail-2-left, auto);
					right: var(--face-fur-detail-2-right, auto);
					transform: rotate(var(--face-fur-detail-2-rotate));
				}

				&-3 {
					top: 1.625rem;
					left: var(--face-fur-detail-3-left, auto);
					right: var(--face-fur-detail-3-right, auto);
					transform: rotate(var(--face-fur-detail-3-rotate));
				}
			}

			&-left {
				--face-fur-white-rotate: 15deg;
				--face-fur-detail-border-radius: 90% 0 90% 0;
				--face-fur-detail-1-left: -0.5rem;
				--face-fur-detail-1-rotate: -15deg;
				--face-fur-detail-2-left: -0.325rem;
				--face-fur-detail-2-rotate: -30deg;
				--face-fur-detail-3-left: 0.125rem;
				--face-fur-detail-3-rotate: -72deg;
				left: var(--face-fur-white-position-x);
				border-top-left-radius: var(--face-fur-white-border-top-radius);
				border-bottom-left-radius: var(--face-fur-white-border-bottom-radius);
			}

			&-right {
				--face-fur-white-rotate: -15deg;
				--face-fur-detail-border-radius: 0 90% 0 90%;
				--face-fur-detail-1-right: -0.5rem;
				--face-fur-detail-1-rotate: 15deg;
				--face-fur-detail-2-right: -0.325rem;
				--face-fur-detail-2-rotate: 30deg;
				--face-fur-detail-3-right: 0.125rem;
				--face-fur-detail-3-rotate: 72deg;
				right: var(--face-fur-white-position-x);
				border-top-right-radius: var(--face-fur-white-border-top-radius);
				border-bottom-right-radius: var(--face-fur-white-border-bottom-radius);
			}
		}
	}

	&-snout {
		bottom: 0.5rem;
		left: 50%;
		height: 4rem;
		width: 4.5rem;
		transform: translateX(-50%);

		&-fur {
			@include border-radius(50% 65%, 50% 35%);

			z-index: 3;
			background-color: var(--white);

			&,
			&-wrap {
				@include absolute-fill;

				transform-origin: center bottom;
				transform: var(--snout-fur-transform, none);
				transition: var(--snout-fur-transition, transform 0s);
			}
		}
	}

	&-face {
		@include absolute-fill;
		@include border-radius(50% 75%, 50% 25%);

		z-index: 3;
		background-color: var(--primary-color);
	}

	&-ear {
		--ear-position-x: -2rem;
		z-index: 1;
		top: 1.5rem;
		height: 6rem;
		width: 6rem;
		background-color: var(--white);
		border-radius: var(--ear-border-radius);
		transform-origin: var(--ear-transform-origin);
		transform: rotate(var(--ear-rotate));

		&::before {
			content: '';
			top: 1.5rem;
			left: var(--ear-inner-left, auto);
			right: var(--ear-inner-right, auto);
			height: 3rem;
			width: 3rem;
			transform: rotate(var(--ear-inner-rotate));
			border-radius:  var(--ear-inner-border-radius);
			background-color: var(--secondary-color);
		}

		&-fur {
			height: 1.25rem;
			width: 1.25rem;
			transform: skewX(var(--ear-fur-skew)) rotate(var(--ear-fur-rotate, 0deg));
			background-color: var(--white);

			&-1 {
				bottom: 0.625rem;
				left: var(--ear-fur-1-left, auto);
				right: var(--ear-fur-1-right, auto);
			}

			&-2 {
				--ear-fur-rotate: var(--ear-fur-2-rotate);
				bottom: 0rem;
				left: var(--ear-fur-2-left, auto);
				right: var(--ear-fur-2-right, auto);
			}
		}

		&-left {
			--ear-border-radius: 0.5rem 0 0 100%;
			--ear-transform-origin: right center;
			--ear-rotate: 30deg;
			--ear-inner-left: 1.5rem;
			--ear-inner-rotate: -5deg;
			--ear-inner-border-radius:  0.25rem 90% 0 90%;
			--ear-fur-skew: -30deg;
			--ear-fur-1-left: 1.875rem;
			--ear-fur-2-left: 2.325rem;
			--ear-fur-2-rotate: -30deg;
			left: var(--ear-position-x);
		}

		&-right {
			--ear-border-radius: 0 0.5rem 100% 0;
			--ear-transform-origin: left center;
			--ear-rotate: -30deg;
			--ear-inner-right: 1.5rem;
			--ear-inner-rotate: 5deg;
			--ear-inner-border-radius:  90% 0.25rem 90% 0;
			--ear-fur-skew: 30deg;
			--ear-fur-1-right: 1.875rem;
			--ear-fur-2-right: 2.325rem;
			--ear-fur-2-rotate: 30deg;
			right: var(--ear-position-x);
		}
	}

	&-head {
		position: relative;
		height: 10rem;
		width: 12.5rem;
	}

	&-shirt {
		@include absolute-fill;

		z-index: 5;
		background-color: var(--accent-color);
		transform: perspective(1rem) rotateX(3deg);

		&::before,
		&::after {
			--shirt-bottom-position-x: 0.1875rem;
			content: '';
			bottom: -0.325rem;
			height: 1.9375rem;
			width: 1.9375rem;
			transform: rotate(var(--shirt-bottom-rotate));
			background-color: var(--accent-color);
		}

		&::before {
			--shirt-bottom-rotate: 15deg;
			left: var(--shirt-bottom-position-x);
		}

		&::after {
			--shirt-bottom-rotate: -15deg;
			right: var(--shirt-bottom-position-x);
		}

		&-cut {
			z-index: 6;
			left: 50%;

			&-fur {
				z-index: 2;
				border-style: solid;
				border-width: 2rem 1.25rem 0 1.25rem;
				border-color: var(--secondary-color) transparent transparent transparent;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		&-collar {
			z-index: 1;

			&::before,
			&::after {
				content: '';
				background-color: var(--white);
			}

			&::before {
				top: 0.5rem;
				left: var(--collar-1-left, auto);
				right: var(--collar-1-right, auto);
				height: 1rem;
				width: 1rem;
				transform: rotate(var(--collar-1-rotate));
			}

			&::after {
				top: 1.25rem;
				left: var(--collar-2-left, auto);
				right: var(--collar-2-right, auto);
				height: 0.625rem;
				width: 0.625rem;
				transform: rotate(var(--collar-2-rotate));
			}

			&-left {
				--collar-1-rotate: 20deg;
				--collar-2-rotate: 18deg;
				--collar-1-left: -1rem;
				--collar-2-left: -0.5rem;
			}

			&-right {
				--collar-1-rotate: -20deg;
				--collar-2-rotate: -18deg;
				--collar-1-right: -1rem;
				--collar-2-right: -0.5rem;
			}
		}
	}

	&-arm {
		--arm-position-x: -0.25rem;
		--arm-height: 1.5rem;
		z-index: 1;
		top: 0.5rem;
		height: var(--arm-height);
		width: 0.5rem;
		transform-origin: 0.25rem center;
		transform: rotate(var(--arm-rotate));
		background-color: var(--white);

		&-lower {
			z-index: 2;
			top: calc(100% - 0.5rem);
			width: 100%;
			height: var(--arm-height);
			background-color: inherit;
		}

		&-paw {
			z-index: 1;
			left: calc(50% - 0.375rem);
			top: calc(100% + var(--arm-height) - 0.625rem);
			height: 1rem;
			width: 0.75rem;
			transform: rotate(--arm-paw-rotate);
			transform-origin: center 0.125rem;
			background-color: var(--secondary-color);
			border-radius: 100%;
		}

		&-left {
			--arm-rotate: 15deg;
			--arm-paw-rotate: 10deg;
			left: var(--arm-position-x);
		}

		&-right {
			--arm-rotate: -15deg;
			--arm-paw-rotate: -10deg;
			right: var(--arm-position-x);
		}
	}

	&-torso {
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 3rem;
		perspective: 1000px;
	}

	&-tail {
		top: 2rem;
		left: calc(100% - 1rem);
		height: 3rem;
		width: 3rem;
		transform-origin: left top;
		transform: rotate(-30deg);
		border-top-right-radius: 85%;
		border-bottom-left-radius: 85%;
		border-bottom-right-radius: 15%;
		background-color: aqua;
		// background: linear-gradient(135deg, var(--primary-color) 30%, var(--secondary-color) 30%, var(--secondary-color) 40%, var(--primary-color) 40%, var(--primary-color) 55%, var(--secondary-color) 55%, var(--secondary-color) 65%, var(--primary-color) 65%, var(--primary-color) 80%, var(--secondary-color) 80%);
		background-image: radial-gradient(circle 4rem at 0 0.3125rem, var(--primary-color) 30%, var(--secondary-color) 30%, var(--secondary-color) 40%, var(--primary-color) 40%, var(--primary-color) 55%, var(--secondary-color) 55%, var(--secondary-color) 65%, var(--primary-color) 65%, var(--primary-color) 80%, var(--secondary-color) 80%);
		background-repeat: no-repeat;
	}

	&-leg {
		--leg-position-x: 0.75rem;
		z-index: 1;
		top: calc(100% - 0.5rem);
		height: 1.75rem;
		width: 1rem;
		background-color: var(--secondary-color);

		&::before,
		&::after {
			content: '';
			transform-origin: var(--leg-foot-transform-origin);
			transform: rotate(var(--leg-foot-rotate));
			border-radius: 100%;
		}

		&::before {
			top: calc(100% - 0.5rem);
			left: var(--leg-foot-left, auto);
			right: var(--leg-foot-right, auto);
			height: 0.625rem;
			width: 1.325rem;
			background-color: var(--black);
		}

		&::after {
			bottom: 0.125rem;
			left: 0;
			width: 100%;
			height: 0.4375rem;
			background-color: var(--secondary-color);
		}

		&-left {
			--leg-foot-left: -0.0625rem;
			--leg-foot-rotate: 20deg;
			--leg-foot-transform-origin: left center;
			left: var(--leg-position-x);
		}

		&-right {
			--leg-foot-right: -0.0625rem;
			--leg-foot-rotate: -20deg;
			--leg-foot-transform-origin: right center;
			right: var(--leg-position-x);
		}
	}

	&-skirt {
		@include absolute-fill;

		z-index: 2;
		background-color: var(--accent-color);
		transform: perspective(1rem) rotateX(-2deg);

		&::before,
		&::after {
			content: '';
		}

		&::before {
			top: -0.5rem;
			left: 50%;
			width: 95%;
			height: 2rem;
			transform: translateX(-50%);
			border-radius: 100%;
			background-color: var(--shadow-color);
			mix-blend-mode: multiply;
		}

		&::after {
			bottom: -0.25rem;
			border-style: solid;
			border-width: 0.25rem 2rem 0 2rem;
			border-color: var(--accent-color) transparent transparent transparent;

		}
	}

	&-body-lower {
		z-index: 1;
		bottom: 0;
		height: 3rem;
		width: 100%;
	}

	&-body {
		position: relative;
		margin-top: -1rem;
		left: 50%;
		transform: translateX(-50%);
		width: 4rem;
		height: 5.5rem;
		perspective: 1000px;
	}
}

.rage-control {
	position: absolute;
	opacity: 0;

	&:checked {
		+ .retsuko {
			--rage-opacity: 1;
			--rage-delay: 0.4s;
			
			--blush-opacity: 0;
			--blush-transition: opacity 1s;

			--mouth-transform: scale(0.3);
			--mouth-background-color: var(--black);
			--mouth-transition: transform 0.2s ease-in-out;

			--mouth-rage-scale: 1;
			--mouth-rage-transition: transform 0.3s var(--rage-delay) ease-in-out;

			--tongue-scale: 1;
			--tongue-transition: transform 0.4s 0.6s ease-in-out;

			--nose-translate-y: -1.25rem;
			--nose-transition: transform 0.3s var(--rage-delay);

			--snout-fur-transform: scaleY(1.1);
			--snout-fur-transition: transform 0.3s var(--rage-delay);
		}
	}
}