@import '/assets/styles/mixins';

$primary-color: #e8deac;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-tint: lighten($primary-color, 10%);
$secondary-color: #85725f;
$secondary-color-dark: darken($secondary-color, 10%);
$secondary-color-tint: lighten($secondary-color, 10%);

:root {
	--black: #3b3737;
	--white: #fff;
	--grey: #dedede;
	--primary-color: #{$primary-color};
	--primary-color-dark: #{$primary-color-dark};
	--primary-color-tint: #{$primary-color-tint};
	--secondary-color: #{$secondary-color};
	--secondary-color-dark: #{$secondary-color-dark};
	--secondary-color-tint: #{$secondary-color-tint};
	--accent-color: #d65a2d;
	--tail-color: #7a6754;
	--tail-color-tint: #a38d77;
	--background-color: #4d4949;
}

* { box-sizing: border-box; }
.body {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: var(--background-color);
	font-size: 16px;
	line-height: 1;
}

.mimikyu {
	position: relative;

	&-disguise {
		&-line {
			&::before,
			&::after {
				content: '';
			}

			&,
			&::before,
			&::after {
				position: absolute;
				border: inherit;
				border-radius: inherit;
			}
		}

		&-eye {
			position: absolute;
			z-index: 3;
			bottom: 3.5rem;
			border-radius: 100%;
			border: 3px solid;
			color: var(--black);

			&::before {
				height: 90%;
				width: 90%;
				left: 5%;
			}

			&::after {
				height: 70%;
				width: 70%;
				left: 5%;
			}

			&-left {
				left: 2rem;
				height: 2.5rem;
				width: 2rem;

				.mimikyu-disguise-line {
					top: 10%;
					left: 20%;
					height: 70%;
					width: 70%;

					&::before {
						top: 10%;
						left: 10%;
						height: 80%;
						width: 80%;
					}

					&::after {
						top: 10%;
						left: 10%;
						height: 40%;
						width: 40%;
					}
				}
			}

			&-right {
				right: 2rem;
				height: 3rem;
				width: 2.25rem;

				.mimikyu-disguise-line-1 {
					top: 10%;
					left: 20%;
					height: 85%;
					width: 80%;

					&::before {
						top: 10%;
						left: 10%;
						height: 80%;
						width: 80%;
					}

					&::after {
						top: 0;
						left: -10%;
						height: 90%;
						width: 90%;
					}
				}

				.mimikyu-disguise-line-2 {
					top: 30%;
					left: 40%;
					height: 40%;
					width: 50%;

					&::before {
						top: 10%;
						left: 10%;
						height: 80%;
						width: 80%;
					}

					&::after {
						top: 20%;
						left: 5%;
						height: 60%;
						width: 60%;
					}
				}
			}
		}

		&-blush {
			position: absolute;
			z-index: 1;
			bottom: 3.5rem;
			border-radius: 6px;
			border-top: 6px solid var(--accent-color);

			&-left {
				left: 1rem;
				width: 2rem;
				transform: rotate(5deg);
	
				&::before {
					top: -0.125rem;
					left: -0.25rem;
					width: 2.75rem;
					transform: rotate(-10deg);
				}
	
				&::after {
					top: 0.125rem;
					left: -0.25rem;
					width: 3rem;
				}
	
				.mimikyu-disguise-line {
					top: 0.325rem;
					left: 0;
					width: 2.75rem;
					transform: rotate(-8deg);
	
					&::before {
						width: 2rem;
						top: -0.1875rem;
						left: 0.125rem;
						transform: rotate(12deg);
					}
	
					&::after {
						width: 1.5rem;
						top: 0.0625rem;
						left: 0.5rem;
						transform: rotate(-5deg);
					}
				}
			}

			&-right {
				right: 1.5rem;
				width: 1.5rem;
				transform: rotate(-7deg);

				&::before {
					top: -0.1875rem;
					width: 2rem;
					transform: rotate(10deg);
				}

				&::after {
					top: 0.0625rem;
					left: -0.25rem;
					width: 2.25rem;
					transform: rotate(-5deg);
				}

				.mimikyu-disguise-line {
					top: 0.325rem;
					left: -0.25rem;
					width: 2.75rem;
					transform: rotate(5deg);

					&::before {
						top: -0.125rem;
						left: 0.25rem;
						width: 2.5rem;
						transform: rotate(-10deg);
					}

					&::after {
						top: 0.125rem;
						left: 0.25rem;
						width: 1.75rem;
					}
				}
			}
		}

		&-mouth {
			position: absolute;
			height: 6px;
			border-radius: 3px / 50%;
			background-color: var(--black);

			&-1,
			&-3,
			&-5 {
				transform-origin: left center;
			}

			&-3,
			&-5 {
				left: 3px;
			}

			&-2,
			&-4,
			&-6 {
				right: 3px;
				transform-origin: right center;
			}

			&-1 {
				bottom: 3rem;
				left: 4rem;
				width: 1.5rem;
				transform: rotate(25deg);

				* {
					bottom: -2px;
				}
			}

			&-2 {
				width: 1.25rem;
				transform: rotate(115deg);
			}

			&-3 {
				width: 1rem;
				transform: rotate(-100deg);
			}

			&-4 {
				width: 1.125rem;
				transform: rotate(95deg);
			}

			&-5 {
				width: 1.375rem;
				transform: rotate(-105deg);
			}

			&-6 {
				width: 1rem;
				transform: rotate(115deg);
			}
		}

		&-face {
			@include absolute-fill;
			@include border-radius(50% 60%, 50% 35%);

			z-index: 5;
			background-color: var(--primary-color);
		}

		&-torso {
			@include absolute-fill;
			@include border-radius(30% 70%, 50% 20%);

			z-index: 3;
			transform: perspective(1rem) rotateX(3deg);
			background-color: var(--primary-color);

			&::after {
				content: '';
				position: absolute;
				top: -0.5rem;
				left: 50%;
				width: 80%;
				height: 3rem;
				border-radius: 100%;
				background-color: var(--primary-color-dark);
				transform: translateX(-50%);
			}
		}

		&-tail {
			z-index: -1;
			bottom: 1rem;
			right: 0.25rem;
			height: 3rem;
			width: 1rem;
			transform-origin: center bottom;
			transform: rotate(25deg);

			&,
			&::before,
			&-tip {
				position: absolute;
				border-radius: 0.25rem;
				background-color: var(--tail-color);
			}

			&::before,
			&-tip {
				border-bottom-left-radius: 0;
			}

			&::before {
				content: '';
				bottom: calc(100% - 1rem);
				left: 1rem;
				height: 2.5rem;
				width: 1.5rem;
				border-top-right-radius: 0;
			}

			&-tip {
				bottom: calc(100% - 2.5rem + 2.5rem);
				left: 2.5rem;
				height: 3.5rem;
				width: 2rem;

				&::before {
					content: '';
					position: absolute;
					top: -0.25rem;
					left: 0;
					width: 100%;
					height: 0.5rem;
					border-radius: 100%;
					background-color: var(--tail-color-tint);
				}
			}
		}

		&-fray {
			position: absolute;
			z-index: 4;
			border-radius: 0.5rem;
			background-color: var(--primary-color);

			&-1 {
				top: -2rem;
				left: 0;
				height: 3rem;
				width: 3rem;
				transform: skew(-10deg, -10deg) rotate(10deg);
			}

			&-2 {
				top: -1.325rem;
				left: 1.5rem;
				height: 3rem;
				width: 3rem;
				transform: skew(-20deg, -10deg) rotate(-15deg);
			}

			&-3 {
				top: -0.75rem;
				left: 3.75rem;
				height: 2.5rem;
				width: 2.5rem;
				transform: skew(-10deg, -10deg) rotate(-45deg);
			}

			&-4 {
				top: -1.75rem;
				right: 0.5rem;
				height: 3rem;
				width: 3rem;
				transform: skew(10deg, 20deg) rotate(-10deg);
			}

			&-5 {
				right: -0.25rem;
				top: -2rem;
				height: 2.5rem;
				width: 2.5rem;
				transform: skew(5deg, 30deg) rotate(-30deg);
			}
		}

		&-frays {
			position: absolute;
			top: calc(100% - 0.75rem);
			left: -5%;
			width: 110%;
		}
	}

	&-shadow {
		&-fray {
			position: absolute;
			z-index: -1;
			height: 2rem;
			width: 2rem;
			border-radius: 0.5rem;
			background-color: var(--black);

			&-1 {
				top: 0;
				left: 0;
				height: 2rem;
				width: 2rem;
				transform: skew(-15deg, -15deg) rotate(5deg);
			}

			&-2 {
				top: 0.75rem;
				left: 2.5rem;
				transform: skew(-5deg, -15deg) rotate(-20deg);
			}

			&-3 {
				top: 0.25rem;
				left: 4.75rem;
				transform: skew(5deg, 20deg);
			}

			&-4 {
				top: -0.5rem;
				right: -0.5rem;
				transform: skew(20deg, 20deg) rotate(-20deg);
			}
		}
	}

	&-ear {
		position: absolute;
		z-index: 1;
		bottom: calc(100% - 2rem);
		width: 2.75rem;
		transform-origin: center bottom;
		border-top-left-radius: 1.375rem;
		border-top-right-radius: 1.375rem;
		background-color: var(--primary-color-dark);

		&-tip {
			position: absolute;
			height: 100%;
			width: 100%;
			border-radius: inherit;
			overflow: hidden;

			&,
			&::before,
			&::after {
				position: absolute;
				top: 0;
			}

			&::before,
			&::after {
				content: '';
				background-color: var(--black);
				width: 120%;
			}
			
			&::before {
				left: -20%;
				height: 2rem;
				transform: rotate(-15deg);
			}

			&::after {
				left: 20%;
				height: 1.75rem;
				transform: rotate(35deg);
			}
		}

		&-top {
			position: absolute;
			background-color: inherit;
		}

		&-left {
			left: 1.75rem;
			height: 5rem;
			transform: rotate(-15deg);

			.mimikyu-ear-top {
				@include border-radius(50% 70%, 0.5rem);

				left: 0.5rem;
				bottom: calc(100% - 1rem);
				height: 3.5rem;
				width: calc(100% - 0.5rem);
				transform-origin: bottom right;
				transform: rotate(-20deg);
				background-color: var(--black);
			}
		}

		&-right {
			right: 1.75rem;
			height: 4.5rem;
			transform: rotate(70deg);

			.mimikyu-ear-top {
				@include border-radius(50% 70%, 1.375rem);
				
				bottom: calc(100% - 2.5rem);
				height: 5rem;
				width: 100%;
				transform: rotate(50deg);
				transform-origin: 50% calc(5rem - 1.375rem);
				overflow: hidden;

				&::before,
				&::after {
					content: '';
					position: absolute;
					top: 0;
					background-color: var(--black);
				}

				&::before {
					left: -15%;
					height: 2.75rem;
					width: 130%;
					transform: rotate(-15deg);
				}

				&::after {
					left: -50%;
					height: 2.5rem;
					width: 200%;
					transform: rotate(-40deg);
				}
			}
		}
	}

	&-head {
		position: relative;
		z-index: 10;
		height: 11rem;
		width: 12.5rem;
	}

	&-eye {
		@include border-radius(50% 60%, 50% 30%);

		position: absolute;
		z-index: 5;
		top: 2.5rem;
		height: 1.5rem;
		width: 0.5rem;
		background-color: var(--black);

		&-left {
			left: 2.325rem;
		}

		&-right {
			right: 2.325rem;
		}
	}

	&-body {
		position: relative;
		z-index: 9;
		top: -1.5rem;
		left: calc(50% - 3.5rem);
		height: 5.5rem;
		width: 7rem;
		perspective: 1000px;
	}

	&-shadow {
		position: absolute;
		bottom: -0.25rem;
		left: 50%;
		width: 80%;
		height: 1.5rem;
		transform: translateX(-50%);
		border-radius: 100%;
		background-color: var(--black);
		opacity: 0.4;
	}
}