:root {
	--black: #624a29;
	--white: #fff;
	--primary-color: #ff9c6a;
	--primary-color-dark: #ee7331;
	--primary-color-tint: #ffb452;
	--secondary-color: #fff6a4;
	--accent-color: #ff6a6a;

	--background: #eaeaea;
}

* { box-sizing: border-box; }
.body {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: var(--background);
	font-size: 16px;
	line-height: 1;
}

.tiger {
	position: relative;

	*,
	*::before,
	*::after {
		position: absolute;
	}

	&-eye {
		@include border-radius(50% 60%, 50% 40%);
		@include positionX(3rem);
		
		z-index: 5;
		top: 5.5rem;
		height: 1.125rem;
		width: 0.875rem;
		background-color: var(--black);
	}

	&-eyebrow {
		@include positionX(2rem);

		--flip: 1;
		z-index: 2;
		top: 3.75rem;
		height: 1.25rem;
		width: 1.5rem;
		transform: rotate(calc(20deg * var(--flip)));
		border-radius: 100%;
		background-color: var(--secondary-color);

		&-left {
			--flip: -1;
		}
	}

	&-nose {
		--sizing: 1rem;
		z-index: 4;
		top: 6rem;
		left: calc(50% - (var(--sizing) / 2));
		height: var(--sizing);
		width: var(--sizing);
		transform: rotate(45deg);
		border-top-left-radius: 100%;
		border-top-right-radius: 30%;
		border-bottom-left-radius: 30%;
		border-bottom-right-radius: 0.125rem;
		background-color: var(--accent-color);
	}

	&-snout {
		--offset: -0.125rem;
		--flipper: 1;
		z-index: 2;
		top: 6.5rem;
		left: 50%;
		height: 2.25rem;
		width: 2rem;

		&::before,
		&::after {
			content: '';
			top: 0;
			height: 100%;
			width: 100%;
			border-radius: 100%;
			background-color: var(--secondary-color);
			transform: rotate(calc(50deg * var(--flipper)));
		}

		&::before {
			right: calc(100% + var(--offset));
		}

		&::after {
			--flipper: -1;
			left: var(--offset);
		}
	}

	&-blush {
		@include positionX(1.5rem);

		top: 6rem;
		height: 1.75rem;
		width: 2.25rem;
		border-radius: 100%;
		background-color: var(--accent-color);
		opacity: 0.5;
	}

	&-stripes-top {
		top: 0;
		height: 4rem;
		width: 1rem;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		background-color: var(--black);

		&,
		&::before,
		&::after {
			left: 50%;
			transform: translateX(-50%);
			background-color: var(--black);	
		}

		&::before,
		&::after {
			content: '';
			height: 0.75rem;
			border-radius: 50%;
		}

		&::before {
			top: 0.75rem;
			width: 3rem;
		}

		&::after {
			top: 2rem;
			width: 2.5rem;
		}
	}

	&-face {
		@include border-radius(50% 65%, 50% 35%);
		
		z-index: 5;
		inset: 0;
		background-color: var(--primary-color);
	}

	&-ear {
		@include positionX(-0.5rem);

		--flip: 1;
		z-index: 1;
		top: 0.75rem;
		height: 3rem;
		width: 3.5rem;
		transform: rotate(calc(50deg * var(--flip)));
		border-radius: 50% / 40%;
		background-color: var(--primary-color);

		&::before {
			content: '';
			inset: 1rem;
			border-radius: 50%;
			background-color: var(--accent-color);
		}

		&-left {
			--flip: -1;
		}
	}

	&-head {
		position: relative;
		height: 11rem;
		width: 13rem;
	}

	&-front {
		position: relative;
	}
}