:root {
	--black: #9a4c32;
	--white: #fff;
	--primary-color: #f26d40;
	--primary-color-dark: #ee4811;
	--primary-color-tint: #f79655;
	--accent-color: #fbe89d;

	--background: #f8b6a0;
	--nose-color: #f5879b;
	--blush-color: #f5879b;
	--shadow-color: hsl(266, 21%, 95%);
}

* { box-sizing: border-box; }
.body {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: var(--background);
	font-size: 16px;
	line-height: 1;
}

.scor {
	--size-ear: 9rem;
	position: relative;
	padding-top: calc(var(--size-ear) + 2rem);
	padding-bottom: 3rem;

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		bottom: 1.75rem;
		left: 50%;
		height: 2rem;
		width: 50%;
		transform: translateX(-50%);
		border-radius: 100%;
		background-color: var(--primary-color);
		opacity: 0.2;
	}

	&-eye {
		@include border-radius(50% 55%, 50% 45%);
		--position-eye-x: 2rem;
		
		position: absolute;
		z-index: 2;
		top: 4.75rem;
		height: 1.875rem;
		width: 1.75rem;
		background-color: var(--black);
		overflow: hidden;

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 100%;
		}

		&::before {
			top: 0.125rem;
			height: 40%;
			width: 40%;
			background-color: var(--white);
		}

		&::after {
			bottom: -0.125rem;
			height: 40%;
			width: 70%;
			background-color: var(--primary-color);
		}

		&-left {
			left: var(--position-eye-x);
		}

		&-right {
			right: var(--position-eye-x);
		}
	}

	&-nose {
		position: relative;
		z-index: 2;
		top: 0;
		height: 1rem;
		width: 1rem;

		&::before,
		&::after {
			content: '';
		}

		&::before {
			@include absolute-fill();

			transform: rotate(45deg);
			border-top-left-radius: 80%;
			border-top-right-radius: 0.1875rem;
			border-bottom-left-radius: 0.1875rem;
			border-bottom-right-radius: 0.25rem;
			background-color: var(--nose-color);
		}

		&::after {
			position: absolute;
			left: 50%;
			bottom: calc(100% - 0.5rem);
			transform: translateX(-50%);
			height: 2.25rem;
			width: 3.5rem;
			border-radius: 0.5rem;
			background-color: var(--accent-color);
		}
	}

	&-mouth {
		position: absolute;
		bottom: -1.125rem;
		left: 50%;
		height: 0.325rem;
		width: 2.5rem;
		transform: translateX(-50%);
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			height: 200%;
			width: calc(100% - 0.25rem);
			border-radius: 100%;
			border: 0.125rem solid var(--black);
		}

		&-line {
			position: absolute;
			z-index: 1;
			left: calc(50% - 0.0625rem);
			top: 100%;
			height: 1rem;
			width: 0.125rem;
			background-color: var(--black);
		}
	}

	&-blush {
		--position-blush-x: 1rem;
		position: absolute;
		z-index: 1;
		top: 6.25rem;
		height: 1rem;
		width: 1.75rem;
		border-radius: 100%;
		background-color: var(--blush-color);
		transform: rotate(var(--rotate-blush));
		opacity: 0.3;

		&-left { 
			--rotate-blush: 5deg;
			left: var(--position-blush-x);
		}

		&-right { 
			--rotate-blush: -5deg;
			right: var(--position-blush-x);
		}
	}

	&-face {
		@include absolute-fill;
		@include border-radius(50% 60%, 50% 40%);

		z-index: 2;	
		background-color: var(--white);

		&-lower {
			position: absolute;
			z-index: 2;
			top: 6rem;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&-face-fluff {
		--position-fluff-x: 2.5rem;

		position: absolute;
		top: 7rem;
		height: 4.25rem;
		width: 4.25rem;

		&::before,
		&::after {
			content: '';
			transform-origin: right top;
			border-top-left-radius: 90%;
			border-bottom-right-radius: 90%;
			border-bottom-left-radius: 0.125rem;
			border-top-right-radius: 0.125rem;
			background-color: var(--white);
		}

		&::before {
			@include absolute-fill;

			transform: rotate(60deg);
		}

		&::after {
			position: absolute;
			left: 0.5rem;
			top: -1.5rem;
			height: 3.5rem;
			width: 3.5rem;
			transform: rotate(80deg);
		}
		
		&-left {
			right: calc(100% - var(--position-fluff-x));
		}
		
		&-right {
			transform: rotateY(180deg);
			left: calc(100% - var(--position-fluff-x));
		}
	}

	&-ear {
		background-color: var(--white);
		background: linear-gradient(var(--gradient-rotate-ear), var(--primary-color) 30%, var(--primary-color-tint) 30%, var(--primary-color-tint) 40%, var(--white) 40%);
		overflow: hidden;
		
		&,
		&-right-wrap {
			position: absolute;
			z-index: 1;
			top: 3.5rem;
			height: var(--size-ear);
			width: var(--size-ear);
			transform-origin: var(--transform-origin-ear);
			transform: rotate(var(--rotate-ear));
		}

		&-right-wrap {
			--gradient-rotate-ear: -40deg;
			--rotate-ear: -120deg;
			--transform-origin-ear: left top;
			--position-ear-shadow-right: 6rem;
			right: -4rem;

			> .scor-ear {
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				transform: none;
			}
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
		}

		&::before {
			top: 2.5rem;
			left: 50%;
			height: 4rem;
			width: 4rem;
			transform: translateX(-50%);
			border-radius: inherit;
			background-color: var(--accent-color);
		}

		&::after {
			top: 1.625rem;
			left: var(--position-ear-shadow-left, auto);
			right: var(--position-ear-shadow-right, auto);
			height: 2rem;
			width: 4rem;
			transform: rotate(var(--gradient-rotate-ear));
			border-radius: 100%;
			background-color: var(--shadow-color);
			mix-blend-mode: multiply;
		}

		&-left {
			--gradient-rotate-ear: 40deg;
			--rotate-ear: 120deg;
			--transform-origin-ear: right top;
			--position-ear-shadow-left: 6rem;
			left: -4rem;
			border-top-left-radius: 90%;
			border-bottom-right-radius: 90%;
			border-bottom-left-radius: 0.5rem;
			border-top-right-radius: 0.5rem;
		}

		&-right {
			&,
			&-fluff {
				border-top-right-radius: 90%;
				border-bottom-left-radius: 90%;
				border-bottom-right-radius: 0.5rem;
				border-top-left-radius: 0.5rem;
			}

			&-fluff {
				position: absolute;
				top: 2.5rem;
				left: 1rem;
				height: 3.5rem;
				width: 2rem;
				transform-origin: inherit;
				transform: rotate(25deg);
				border-bottom-right-radius: 0.25rem;
				background-color: var(--white);
			}
		}
	}

	&-head {
		position: relative;
		z-index: 5;
		height: 10.5rem;
		width: 12rem;
	}

	&-neck {
		position: absolute;
		z-index: 5;
		top: 1.25rem;
		height: 1rem; 
		width: 100%;
		
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			height: 100%;
			width: 2.25rem;
			border-top-left-radius: 30% 50%;
			border-bottom-left-radius: 30% 50%;
			border-top-right-radius: 60% 50%;
			border-bottom-right-radius: 60% 50%;
			background-color: var(--primary-color);
		}

		&::before {
			left: 0.25rem;
			transform: rotate(20deg);
		}

		&::after {
			right: 0.25rem;
			transform: rotateY(180deg) rotate(20deg);
		}
	}

	&-arm {
		@include border-radius(50% 70%, 50% 25%);

		position: absolute;
		z-index: 3;
		top: 2.25rem;
		height: 4.5rem;
		width: 2.5rem;
		transform-origin: 1.25rem center;
		background-color: var(--white);
		overflow: hidden;

		&::before,
		&::after {
			content: ''; 
			position: absolute;
			bottom: 0;
			height: 0.75rem;
			width: 2px;
			border-radius: 1px;
			background-color: var(--black);
		}

		&::before {
			left: 0.75rem;
		}
		
		&::after {
			right: 0.75rem;
		}

		&-left {
			left: -0.125rem;
			transform: rotate(-10deg);
		}

		&-right {
			right: -0.125rem;
			transform: rotate(10deg);
		}
	}

	&-leg {
		position: absolute;
		z-index: 2;
		bottom: -1rem;
		height: 2rem;
		width: 1.25rem;
		transform-origin: top center;
		transform: rotate(var(--rotate-leg));
		background-color: var(--shadow-color);

		&-foot {
			@include border-radius(50% 30%, 50% 60%);

			position: absolute;
			bottom: 0;
			left: var(--position-foot-left, auto);
			right: var(--position-foot-right, auto);
			height: 6.5rem;
			width: 3rem;
			transform-origin: center bottom;
			transform: rotate(var(--rotate-foot));
			border-top-right-radius: var(--radius-foot-right, 50% 30%);
			border-top-left-radius: var(--radius-foot-left, 50% 30%);
			background-color: var(--white);
			background: linear-gradient(var(--gradient-rotate-foot), var(--primary-color) 30%, var(--white) 30%);
			overflow: hidden;
			perspective: 1000px;

			&::before,
			&::after {
				content: ''; 
				position: absolute;
				top: 0;
				height: 1rem;
				width: 2px;
				border-radius: 1px;
				background-color: var(--black);
				transform-origin: center top;
			}

			&::before {
				left: 1rem;
				transform: var(--transform-foot-before);
			}
			
			&::after {
				right: 1rem;
				transform: var(--transform-foot-after);
			}

			&-pad {
				position: absolute;
				top: 3rem;
				left: var(--position-foot-pad-left, auto);
				right: var(--position-foot-pad-right, auto);
				height: 1.75rem;
				width: 2.5rem;
				transform: rotate(var(--rotate-foot-pad)) perspective(1rem) rotateX(-7deg);
				border-radius: 0.5rem;
				background-color: var(--accent-color);
			}
		}

		&-left {
			--radius-foot-right: 50% 20%;
			--rotate-leg: 80deg;
			--position-foot-left: 1rem;
			--rotate-foot: -110deg;
			--gradient-rotate-foot: 175deg;
			--transform-foot-before: rotate(-5deg) translateX(-0.25rem);
			--transform-foot-after: rotate(-5deg) translateX(-0.25rem);
			--rotate-foot-pad: -5deg;
			--position-foot-pad-left: -0.25rem;
			right: calc(100% - 2.125rem);
		}

		&-right {
			--radius-foot-left: 50% 20%;
			--rotate-leg: -80deg;
			--position-foot-right: 1rem;
			--rotate-foot: 110deg;
			--gradient-rotate-foot: -175deg;
			--transform-foot-before: rotate(5deg) translateX(0.25rem);
			--transform-foot-after: rotate(5deg) translateX(0.25rem);
			--rotate-foot-pad: 5deg;
			--position-foot-pad-right: -0.25rem;
			left: calc(100% - 2.125rem);
		}
	}

	&-torso {
		@include absolute-fill();
		@include border-radius(50% 70%, 50% 30%);

		background: var(--shadow-color);
		overflow: hidden;

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}

		&::before {
			top: 0;
			height: 50%;
			width: 100%;
			background-color: var(--white);
		}

		&::after {
			top: -0.75rem;
			width: 45%;
			height: 90%;
			border-radius: 100%;
			background-color: var(--white);
		}
	}

	&-tail {
		position: absolute;
		left: -0.75rem;
		bottom: 0.75rem;
		height: 3rem;
		width: 3rem;
		border-radius: 100%;
		background-color: var(--shadow-color);
	}

	&-body {
		position: relative;
		left: 50%;
		height: 6.5rem;
		width: 6rem;
		margin-top: -1.5rem;
		transform: translateX(-50%);

		&::before {
			content: '';
			position: absolute;
			z-index: 2;
			top: 1rem;
			left: 50%;
			height: 1.75rem;
			width: 60%;
			transform: translateX(-50%);
			border-radius: 100%;
			background-color: var(--shadow-color);
		}
	}
}