:root {
	--black: #9a4c32;
	--white: #fff;
	--primary-color: #f26d40;
	--primary-color-dark: #ee4811;
	--primary-color-tint: #f79655;
	--accent-color: #fbe89d;

	--background: #f8b6a0;
	--nose-color: #f5879b;
	--blush-color: #f5879b;
}

* { box-sizing: border-box; }
.body {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: var(--background);
	font-size: 16px;
	line-height: 1;
}

.scor {
	--size-ear: 9rem;
	position: relative;
	padding-top: calc(var(--size-ear) + 2rem);

	&-eye {
		@include border-radius(50% 55%, 50% 45%);
		--position-eye-x: 2rem;
		
		position: absolute;
		z-index: 2;
		top: 4.75rem;
		height: 1.875rem;
		width: 1.75rem;
		background-color: var(--black);
		overflow: hidden;

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 100%;
		}

		&::before {
			top: 0.125rem;
			height: 40%;
			width: 40%;
			background-color: var(--white);
		}

		&::after {
			bottom: -0.125rem;
			height: 40%;
			width: 70%;
			background-color: var(--primary-color);
		}

		&-left {
			left: var(--position-eye-x);
		}

		&-right {
			right: var(--position-eye-x);
		}
	}

	&-nose {
		position: relative;
		z-index: 2;
		top: 0;
		height: 1rem;
		width: 1rem;

		&::before,
		&::after {
			content: '';
		}

		&::before {
			@include absolute-fill();

			transform: rotate(45deg);
			border-top-left-radius: 80%;
			border-top-right-radius: 0.1875rem;
			border-bottom-left-radius: 0.1875rem;
			border-bottom-right-radius: 0.25rem;
			background-color: var(--nose-color);
		}

		&::after {
			position: absolute;
			left: 50%;
			bottom: calc(100% - 0.5rem);
			transform: translateX(-50%);
			height: 2.25rem;
			width: 3.5rem;
			border-radius: 0.5rem;
			background-color: var(--accent-color);
		}
	}

	&-mouth {
		position: absolute;
		bottom: -1.125rem;
		left: 50%;
		height: 0.325rem;
		width: 2.5rem;
		transform: translateX(-50%);
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			height: 200%;
			width: calc(100% - 0.25rem);
			border-radius: 100%;
			border: 0.125rem solid var(--black);
		}

		&-line {
			position: absolute;
			z-index: 1;
			left: calc(50% - 0.0625rem);
			top: 100%;
			height: 1rem;
			width: 0.125rem;
			background-color: var(--black);
		}
	}

	&-blush {
		--position-blush-x: 1.25rem;
		position: absolute;
		z-index: 1;
		top: 6.25rem;
		height: 1rem;
		width: 1.75rem;
		border-radius: 100%;
		background-color: var(--blush-color);
		transform: rotate(var(--rotate-blush));
		opacity: 0.3;

		&-left { 
			--rotate-blush: 5deg;
			left: var(--position-blush-x);
		}

		&-right { 
			--rotate-blush: -5deg;
			right: var(--position-blush-x);
		}
	}

	&-face {
		@include absolute-fill;
		@include border-radius(50% 60%, 50% 40%);

		background-color: var(--white);

		&-lower {
			position: absolute;
			z-index: 2;
			top: 6rem;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&-face-fluff {
		--position-fluff-x: 2.5rem;

		position: absolute;
		top: 7rem;
		height: 4.25rem;
		width: 4.25rem;

		&::before,
		&::after {
			content: '';
			transform-origin: right top;
			border-top-left-radius: 90%;
			border-bottom-right-radius: 90%;
			border-bottom-left-radius: 0.125rem;
			border-top-right-radius: 0.125rem;
			background-color: var(--white);
		}

		&::before {
			@include absolute-fill;

			transform: rotate(60deg);
		}

		&::after {
			position: absolute;
			left: 0.5rem;
			top: -1.5rem;
			height: 3.5rem;
			width: 3.5rem;
			transform: rotate(80deg);
		}
		
		&-left {
			right: calc(100% - var(--position-fluff-x));
		}
		
		&-right {
			transform: rotateY(180deg);
			left: calc(100% - var(--position-fluff-x));
		}
	}

	&-ear {
		--position-ear-x: -4rem;
		position: absolute;
		top: 3.5rem;
		height: var(--size-ear);
		width: var(--size-ear);
		background-color: var(--white);
		background: linear-gradient(var(--gradient-rotate-ear), var(--primary-color) 30%, var(--primary-color-tint) 30%, var(--primary-color-tint) 40%, var(--white) 40%);
		transform-origin: var(--transform-origin-ear);
		transform: rotate(var(--rotate-ear));

		&::before,
		&::after {
			content: '';
			position: absolute;
		}

		&::before {
			top: 2.5rem;
			left: 50%;
			height: 4rem;
			width: 4rem;
			transform: translateX(-50%);
			border-radius: inherit;
			background-color: var(--accent-color);
		}

		&-left {
			--gradient-rotate-ear: 40deg;
			--rotate-ear: 120deg;
			--transform-origin-ear: right top;
			left: var(--position-ear-x);
			border-top-left-radius: 90%;
			border-bottom-right-radius: 90%;
			border-bottom-left-radius: 0.5rem;
			border-top-right-radius: 0.5rem;
		}

		&-right {
			--gradient-rotate-ear: -40deg;
			--rotate-ear: -120deg;
			--transform-origin-ear: left top;
			right: var(--position-ear-x);
			border-top-right-radius: 90%;
			border-bottom-left-radius: 90%;
			border-bottom-right-radius: 0.5rem;
			border-top-left-radius: 0.5rem;

			&::after {
				top: 2.5rem;
				left: 1rem;
				height: 3.5rem;
				width: 2rem;
				transform-origin: inherit;
				transform: rotate(25deg);
				border-radius: inherit;
				border-bottom-right-radius: 0.25rem;
				background-color: var(--white);
			}
		}
	}

	&-head {
		position: relative;
		z-index: 5;
		height: 10.5rem;
		width: 12rem;
	}

	&-neck {
		position: absolute;
		top: 1.25rem;
		height: 1rem; 
		width: 100%;
		
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			height: 100%;
			width: 2.5rem;
			border-top-left-radius: 30% 50%;
			border-bottom-left-radius: 30% 50%;
			border-top-right-radius: 60% 50%;
			border-bottom-right-radius: 60% 50%;
			background-color: var(--primary-color);
		}

		&::before {
			left: 0;
			transform: rotate(10deg);
		}

		&::after {
			right: 0;
			transform: rotateY(180deg) rotate(10deg);
		}
	}

	&-torso {
		@include absolute-fill();
		@include border-radius(50% 70%, 50% 30%);

		background: var(--white);
	}

	&-body {
		position: relative;
		left: 50%;
		height: 7rem;
		width: 6rem;
		margin-top: -1.5rem;
		transform: translateX(-50%);
	}
}